<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression" parallel="tests" thread-count="5">
    <listeners>
        <listener class-name="seleniumFramework.utils.Listeners" />
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome" />
        <parameter name="remote" value="true" />
        <parameter name="remoteUrl" value="http://selenium-hub:4444/wd/hub" />
        <classes>
            <class name="seleniumFramework.tests.EndToEndLoginSignup" />
            <class name="seleniumFramework.tests.PageTitleValidation" />
            <class name="seleniumFramework.tests.contactUsFormValidation" />
            <class name="seleniumFramework.tests.EndToEndTest" />
            <class name="seleniumFramework.tests.EndToEndOrderProduct" />
        </classes>
    </test>

    <!-- Additional test configurations for other browsers can be added here -->
</suite>
